:root{
    --color-fondo: #0b0c2a;
    --color-secundario: #1f1b3a;
    --color-texto: #c3cce0;
    --color-h3: #98a3b8;
    --color-principal: #f5f5f5;;
    --color-hover: #3b82f6;
    --color-hover2: #214886;
    --gap: 16px;
    --maxw: 1400px;
}

html{
    font-size: 100%;
}

body{
    background-color: var(--color-fondo);
    color: var(--color-texto);
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 3rem;
    color: var(--color-principal);
    text-align: center;
    text-transform: uppercase;
}

h2{
    font-size: 1.5rem;
    color: var(--color-principal);
}

h3{
    font-size: 1.2rem;
    color: var(--color-h3);
}

h1, h2, h3{
    text-align: center;
}

p{
    font-size: 1rem;
    color: var(--color-texto);
}

/*Genericos*/
#galeria{
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    max-width: var(--maxw);
    margin: 0 auto;
    padding: 0 1rem;
    justify-content: center;
}

#galeria img{
    flex: 1 1 100%;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 8px;
    display: block;
}

/*Tablet: 2 columnas*/
@media (min-width: 768px){
    #galeria img{
        flex-basis: calc(50%(--gap));
    }
}