:root{
    --color-fondo: #0b0c2a;
    --color-secundario: #1f1b3a;
    --color-texto: #c3cce0;
    --color-h3: #98a3b8;
    --color-principal: #f5f5f5;;
    --color-hover: #3b82f6;
    --color-hover2: #214886;
}

.navegacion-principal{
    display: flex;
    justify-content: space-around;
    background-color: var(--color-secundario);
    flex-direction: column;
}

@media (min-width: 768px) {
    .navegacion-principal{
        flex-direction: row;
    }
}

.navegacion-principal a{
    text-align: center;
    color: var(--color-principal);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1.5rem;
}

.navegacion-principal a:hover{
    color: var(--color-hover);
    background-color: var(--color-hover2);
}

html{
    font-size: 100%;
}

body{
    background-color: var(--color-fondo);
    color: var(--color-texto);
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    align-items: center;
}

h1{
    font-size: 3rem;
    color: var(--color-principal);
    text-align: center;
    text-transform: uppercase;
}

h2{
    font-size: 1.5rem;
    color: var(--color-principal);
}

h3{
    font-size: 1.2rem;
    color: var(--color-h3);
}

h1, h2, h3{
    text-align: center;
}

p{
    font-size: 1rem;
    color: var(--color-texto);
}

/*Genericos*/
#galeria{
    padding: 0 1rem;
}

#galeria img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
    display: block;
    margin: 1rem auto;
    max-width: 600px;
}

/*Tablet 2 columnas*/
@media (min-width: 768px){
    #galeria{
        padding: 0 1rem;
    }

    #galeria img{
        width: 46%;
        margin: 1rem 1%;
        display: inline;
        max-width: none;
    }
}

/*3 columnas*/
@media (min-width: 1024px){
    #galeria img{
        width: 31%;
        margin: 0.5rem 1%;
        display: inline;
        max-width: none;
    }
}

/*4 columnas*/
@media (min-width: 1440px){
    #galeria img{
        width: 22%;
        margin: 1%;
    }
}